* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

[v-cloak] {
    display: none;
}

.bodydiv {
    background-color: #f3f4f7;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

/**
*友情提示
*/
#friendly_icon {
    float: left;
    height: 100%;
    width: 40px;
    font-size: 25px;
}

.friendly {
    display: none;
    z-index: 98;
    position: absolute;
    width: 180px;
    height: 40px;
    padding: 0 25px;
    left: 50%;
    top: 20%;
    margin-left: -115px;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
}

/**
*头标
*/
.head {
    width: 100%;
    height: 100px;
    background-color: #222;
}

.headlogo {
    float: left;
    width: 525 px;
    height: 100%;
    margin-left: 30px;
}

.logo-img {
    width: 100px;
    height: 100px;
    float: left;
}

.logo-img img {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.logo-text {
    float: left;
    height: 100px;
    line-height: 100px;
    margin-left: 20px;
    font-size: 25px;
    color: #00ccf3;
}

.usermessage {
    float: right;
    width: 400px;
    height: 100%;
}

.help {
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #00ccf3;
    font-size: 18px;
}

.username {
    display: flex;
    height: 60px;
}

.username .div {
    float: left;
    flex: 1;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #999;
    cursor: pointer;
}

.username .div:hover {
    border-bottom-color: #00ccf3;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    color: #00ccf3;
}

.headportrait {
    float: left;
    width: 60px;
    height: 60px;
}

.headportrait img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 25px;
    border: 1px solid #00ccf3;
    box-shadow: 0px 0px 2px 1px #00ccf3;
}

#content {
    width: 100%;
    flex: 1;
}

#menus {
    width: 250px;
    height: 100%;
    left: 0px;
    background-color: #444;
    position: fixed;
    z-index: 2;
}

#menu {
    overflow-y: auto;
}

.one-catalog {
    height: 50px;
    background-color: #444;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #00ccf3;
    cursor: pointer;
}

.one-catalog:hover {
    background-color: #00ccf3;
    color: #fff;
}

.one-catalog .iconfont {
    font-style: normal;
    margin-left: 25px;
}

.one-menu {
    font-style: normal;
    margin-left: 10px;
    text-align: center;
    line-height: 50px;
}

.one-menu b {
    float: right;
    margin-right: 10px;
    font-size: 24px;
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;

}

.two-catalog {
    height: 50px;
    background-color: #333;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    /* cursor: url('../img/tz.png'),pointer; 这一句是自定义光标 */
}

.two-catalog:hover {
    background-color: #00ccf3;
}

.two-catalog .iconfont {
    font-style: normal;
    margin-left: 40px;
    color: #fff;
}

.tow-menu {
    font-style: normal;
    margin-left: 10px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

#pack {
    width: 30px;
    height: 51px;
    background: #444;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 100px;
    left: 0px;
    cursor: pointer;
}

#pack_icon {
    display: inline-block;
    font-size: 23px;
    line-height: 51px;
    color: #00ccf3;
}

#article {
    height: 100%;
    margin-left: 250px;
}

.articlesubset {
    width: 100%;
    height: 100%;
}

.plate {
    height: 100%;
}

@media (max-width:1280px) {
    #menus {
        left: -250px;
    }

    #article {
        margin-left: 0px;
    }
}

@media (max-width:1000px) {
    .headlogo {
        margin-left: 10px;
    }

    .logo-img {
        width: 60px;
        height: 60px;
    }

    .logo-img img {
        width: 50px;
        height: 50px;
    }

    .logo-text {
        height: 65px;
        line-height: 65px;
        font-size: 16px;
    }

    .head {
        height: 65px;
    }

    .help {
        display: none;
    }

    #pack {
        top: 65px;
    }
}

@media (max-width:768px) {
    .usermessage {
        width: 100%;
    }

    .help {
        display: none;
    }

    .username {
        width: 100%;
        display: flex;
    }

    .username .div {
        flex: 1;
    }

    .headlogo {
        display: none;
    }

    .logo-text {
        display: none;
    }

    #pack {
        top: 65px;
    }
}




/**
*公共样式JS添加样式区
*/
.PACK_UP #menus {
    /*菜单显示*/
    left: 0px;
}

.PACK_UP #pack {
    left: 250px;
}

.PACK_UP #article {
    margin-left: 250px;
}

.LIST_UP {
    /*菜单栏箭头旋转0度*/
    transform: rotate(0deg);
}

.LIST_DOWN {
    /*菜单栏箭头旋转180度*/
    transform: rotate(180deg);
}

#My_botton .yes {
    /* 编辑按钮颜色 */
    color: #95d619;
}

.newss {
    position: absolute;
    display: none;
    width: 100%;
    top: 200px;
}

.newss .information {
    height: 30px;
    width: 250px;
    padding: 5px;
    background: #00ccf3;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}

#fuzzy_searach_shade {
    position: absolute;
    width: 100%;
    z-index: 78;
    display: none;
    background-color: rgba(15, 15, 15, .3);
    top: 0;
    left: 0;
}

.searach_view {
    width: 400px;
    height: 350px;
    margin: 0 auto;
    margin-top: 200px;

}

@media (max-width:1280px) {
    .newss {
        top: 180px;
    }
}

@media (max-width:768px) {
    .newss {
        top: 5px;
    }
}

/*JS插入元素*/
.fun_icon_code {
    color: #f00;
}

/**
*CSS3动画效果时间公共区
*/

/*延时0.5秒*/
.head,
.headlogo,
.headlogo img,
.headlogo .logo-text,
#menus,
#article,
#pack {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
}

/*延时1秒*/
#pack_icon {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
}