#hint_box {
    position: absolute;
    width: 150px;
    height: 35px;
    font-size: 14px;
    right: 0px;
    top: -35px;
    line-height: 35px;
}

.hint_icon {
    display: none;
    float: left;
    text-align: center;
    cursor: pointer;
    height: 100%;
    width: 30px;
    color: #e6e6e6;
}

.hint {
    background: #0ab827;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: right;
    width: 120px;
    height: 35px;
    text-align: center;
}

.hint_content {
    color: #e6e6e6;
    font-size: 15px;
}