@media (max-width:1000px) {
    #main_content {
        width: 100%;
    }
}

@media (max-width:640px) {
    #main_content {
        width: 450px;
        margin-top: 30px;
    }
}

#main_content {
    transition: all .3s;
}